body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

html, body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}

#map {
    width: 100%;    /* Adjust width to your desired size */
    height: 100%;   /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
    border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

circle {
    fill: steelblue;
    fill-opacity: 60%;
    stroke: white;
    stroke-width: 1px;
    pointer-events: auto;
}

label.timeslider {
    margin-left: auto;
}

label.timeslider time.selected-time {
    display: block;
}

header.time-filter-header {
    display: flex;
    gap: 1em;
    align-items: baseline;
}

label.time-slider {
    margin-left: auto;
}

label.time-slider time,
label.time-slider em {
    display: block;
}

label.time-slider em {
    color: lightgray;
    font-style: italic;
}

label.time-slider input[type="range"] {
    width: 300px; /* Adjust the width as needed */
}